# Git / VCS (wichtig!)
.git/
.gitmodules

# Build output
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs / temp
*.log

# Tests & große Testdaten nicht in den Build-Kontext
tests/api/
tests/error/
tests/performance/
tests/stress/