[submodule "external/unity"]
	path = external/unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "external/civetweb"]
	path = external/civetweb
	url = https://github.com/civetweb/civetweb.git
[submodule "external/yyjson"]
	path = external/yyjson
	url = https://github.com/ibireme/yyjson.git
[submodule "tests/performance/third_party/meta"]
	path = tests/performance/third_party/meta
	url = https://github.com/meta-toolkit/meta.git
